<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controlador.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrit</servlet-name>
        <servlet-class>Controlador.ControladorCarrit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrito</servlet-name>
        <servlet-class>Controlador.ControladorCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleados</servlet-name>
        <servlet-class>Controlador.ControladorEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInventario</servlet-name>
        <servlet-class>Controlador.ControladorInventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>Controlador.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVentas</servlet-name>
        <servlet-class>Controlador.ControladorVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdm</servlet-name>
        <servlet-class>Controlador.ControladorAdm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrit</servlet-name>
        <url-pattern>/ControladorCarrit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrito</servlet-name>
        <url-pattern>/ControladorCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleados</servlet-name>
        <url-pattern>/ControladorEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInventario</servlet-name>
        <url-pattern>/ControladorInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVentas</servlet-name>
        <url-pattern>/ControladorVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdm</servlet-name>
        <url-pattern>/ControladorAdm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
